@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Charter/Charter.css');

* {
    font-family: Charter;
}

.footnote-definition>p {
    display: inline;
}

.footnote-definition-label {
    font-weight: bold;
}
